# ---------------------------------------------
# Python Tuple Operations – From Basic to Advanced
# ---------------------------------------------

In [1]:
# 1. Creating a Tuple
my_tuple = (1, 2, 3)
print("1. Basic Tuple:", my_tuple)

1. Basic Tuple: (1, 2, 3)

In [2]:
# 2. Tuples Can Hold Mixed Data Types
mixed_tuple = (42, "hello", 3.14)
print("2. Mixed Types Tuple:", mixed_tuple)

2. Mixed Types Tuple: (42, 'hello', 3.14)

In [3]:
# 3. Tuple with One Element (add a comma!)
single_element = (5,)
print("3. Single Element Tuple:", single_element)

3. Single Element Tuple: (5,)

In [4]:
# 4. Accessing Elements
print("4. First Element:", my_tuple[0])
print("5. Last Element:", my_tuple[-1])

4. First Element: 1
5. Last Element: 3

In [5]:
# 5. Slicing Tuples
print("6. Slice [1:]:", my_tuple[1:])

6. Slice [1:]: (2, 3)

In [6]:

# 6. Nested Tuples
nested = (1, (2, 3), 4)
print("7. Nested Tuple:", nested)
print("8. Access Nested Element:", nested[1][0])  # Access 2

7. Nested Tuple: (1, (2, 3), 4)
8. Access Nested Element: 2

In [7]:
# 7. Tuple Length
print("9. Length:", len(my_tuple))

9. Length: 3

In [8]:
# 8. Looping through Tuples
print("10. Looping:")
for item in mixed_tuple:
    print(f" - {item}")

10. Looping:
 - 42
 - hello
 - 3.14

In [9]:
# 9. Tuple Concatenation
tuple1 = (1, 2)
tuple2 = (3, 4)
combined = tuple1 + tuple2
print("11. Concatenated Tuple:", combined)

11. Concatenated Tuple: (1, 2, 3, 4)

In [10]:
# 10. Repeating Tuples
print("12. Repeated Tuple:", tuple1 * 3)

12. Repeated Tuple: (1, 2, 1, 2, 1, 2)

In [11]:
# 11. Tuple Unpacking
person = ("John", 30, "Engineer")
name, age, job = person
print(f"13. Unpacked: Name={name}, Age={age}, Job={job}")

13. Unpacked: Name=John, Age=30, Job=Engineer

In [12]:
# 12. Check Existence of Element
print("14. Is 2 in tuple1?", 2 in tuple1)

14. Is 2 in tuple1? True

In [13]:
# 13. Count and Index
sample = (1, 2, 2, 3, 2, 4)
print("15. Count of 2:", sample.count(2))
print("16. Index of first 3:", sample.index(3))

15. Count of 2: 3
16. Index of first 3: 3

# ---------------------------------------------
# Advanced Tuple Use Cases
# ---------------------------------------------

In [14]:
# 14. Tuples are Immutable
immutable_test = (10, 20)
# immutable_test[0] = 99  # ❌ This would raise TypeError

In [15]:
# 15. Tuple of Tuples (like a 2D grid)
grid = (
    (1, 2),
    (3, 4),
    (5, 6)
)
print("17. 2D Tuple Grid:")
for row in grid:
    print(row)

17. 2D Tuple Grid:
(1, 2)
(3, 4)
(5, 6)

In [16]:
# 16. Using Tuples as Dictionary Keys (hashable!)
locations = {
    (40.7128, -74.0060): "New York",
    (48.8566, 2.3522): "Paris"
}
print("18. City by Coordinates:", locations[(40.7128, -74.0060)])

18. City by Coordinates: New York

In [17]:
# 17. Tuple Packing (grouping values into a tuple implicitly)
a = 10
b = "X"
packed = a, b
print("19. Packed Tuple:", packed)

19. Packed Tuple: (10, 'X')

In [18]:
# 18. Return Multiple Values from Function Using Tuples
def get_stats(numbers):
    return min(numbers), max(numbers), sum(numbers)

min_val, max_val, total = get_stats([1, 2, 3, 4, 5])
print("20. Function Return Tuple - min:", min_val, "max:", max_val, "sum:", total)

20. Function Return Tuple - min: 1 max: 5 sum: 15

In [19]:

# 19. Named Tuples (from collections)
from collections import namedtuple
Point = namedtuple("Point", "x y")
p = Point(3, 4)
print("21. Named Tuple:", p)
print(" - x:", p.x, ", y:", p.y)

21. Named Tuple: Point(x=3, y=4)
 - x: 3 , y: 4