In [1]:

721843
# to escape character like the double quotation
print("Giraff\"Academy")
# to print string variables
character_name = "John"
character_age = "35"
graduation_score = '92.3545'

# Float number
salary = 30
bouns = 50.56782132

Giraff"Academy

In [2]:
# boolean variables
is_male = True
is_married = False
print("The  man name is " + character_name + ", ")
print("The  man age is " + character_age + " .")

The  man name is John,
The  man age is 35 .

In [3]:

# convert string to int number
print(int(character_age))
# convert string to float number
print(float(graduation_score))

# convert string to float number
print(float(graduation_score)+int(character_age))

# convert int or float as numbers to string
# to concatenate and print numbers as string
print("The  man`s bonus is " + str(bouns) + "\n")

# convert float number to string
print("The  man`s salary is " + str(salary) + "\n")

#  print the boolean values
print("He is male: " + str(is_male) + "\n" +
      "He is maried: " + str(is_married) + "\n")

35
92.3545
127.3545
The  man`s bonus is 50.56782132

The  man`s salary is 30

He is male: True
He is maried: False

In [4]:
# sum two boolean values
print(False + True)
# false value is 0
print(False + False)
# true value is 1
print(True + True)
# true value is 1
print(True + 3)

1
0
2
4